@charset "ISO-8859-1";
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}







.header {

  overflow: hidden;
  background-color: #3377ff;
  height:70px;

}

.header a {
  float:left;
  color: black;
  text-align:center;
  padding: 25px 25px 20px 0px;
  text-decoration:none;
  font-size: 20px;
  line-height: 90px;
  border-radius: 1px;
}
.header_text_box{

  padding-left:30%;

  padding-right:10%;
}


.header a.logo {
  position: relative;
 /*  font-size: 40px;
  font-weight: bold */;
  display: block;
  
}
.header a.logo:hover
{
  background-color: inherit;
  color:inherit;
}
.header a.logoutbtn {
  float: left;
  font-size: 20px;
  font-weight: bold;

}
.header a:hover {
  background-color:inherit;
  color: inherit;
}

.header a.active {
  background-color:maroon;
  color: white;
}

.header-right {
  float: left;
}
.header-left {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

}
